<html>
    <head>
        {% if title %}
        <title>{{ title }} - Scheduleer</title>
        {% else %}
        <title>Welcome to Scheduleer!</title>
        {% endif %}
    </head>
    <body>
        <div>
            Hi {{ user.username }}, you currently have xx credits.
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('history') }}">History</a>
            <a href="{{ url_for('password') }}">Change Password</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>